/*right column items*/
.btn:focus {
    outline: none;
    box-shadow: none;
  }

.mail-display {
    background-color:white;
    padding: 10px;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}

#reply-field-wrapper {
    position: relative;
    border: 1px solid gray;
    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: space-between;
}

#reply-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 15%;
}
.recipient-wrapper{
    border: 2px white solid;
    border-radius: 7px;
    transition: border ease-in-out 0.25s;
    margin:5px;
}

.recipient-wrapper:hover{
    border: 2px rgb(0, 0, 0) solid;
}

.recipient{
    border: 3px solid black;
    border-radius: 5px;
    padding-left: 3px;
    margin:0px;
    transition: border ease-in-out 0.25s;
}

.recipient-wrapper:hover .recipient{
    border: 3px rgb(0, 174, 255) ridge;
}
.message-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
